<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Directorio
        </ion-title>
        <ion-searchbar placeholder="¿Que estas buscando?" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment value="explorar" 
        color="tertiary" 
        scrollable="true"
        mode="ios"
        [(ngModel)]="segmentModel" 
        (ionChange)="segmentChanged($event)">
          <ion-segment-button value="explorar">
            <ion-icon name="search-circle-outline" ></ion-icon>
            <ion-label>Explorar</ion-label>
          </ion-segment-button>
          <ion-segment-button value="cercami">
            <ion-icon name="locate-outline"></ion-icon>
            <ion-label>Cerca mi</ion-label>
          </ion-segment-button>
          <ion-segment-button value="categorias">
            <ion-icon name="book-outline"></ion-icon>
            <ion-label>Categorias</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div *ngIf="segmentModel === 'explorar'">
        <app-post (onCall)="makeCall($event)" (onDetail)="viewDetail($event)" (onGeoClick)="geoClick($event)" *ngIf="!search" [clienteDatos]="listCustomerPost"></app-post>
        <app-post (onCall)="makeCall($event)" (onDetail)="viewDetail($event)" (onGeoClick)="geoClick($event)" *ngIf="search" [clienteDatos]="listSearchPost"></app-post>
    </div>
    <div *ngIf="segmentModel === 'cercami'">
        <app-post (onCall)="makeCall($event)" (onDetail)="viewDetail($event)" (onGeoClick)="geoClick($event)" *ngIf="!search" [clienteDatos]="listCercaMi"></app-post>
        <app-post (onCall)="makeCall($event)" (onDetail)="viewDetail($event)" (onGeoClick)="geoClick($event)" *ngIf="search" [clienteDatos]="listSearchPost"></app-post>
    </div>
    <div *ngIf="segmentModel === 'categorias'">
       <ion-list *ngIf="!search" >
           <ion-item *ngFor="let item of listCategories">
            <ion-label (click)="onCategoriesClick(item)">
                <h2>{{item['descripcion']}}</h2>
              </ion-label>
           </ion-item>
       </ion-list>
       <app-post (onCall)="makeCall($event)" (onDetail)="viewDetail($event)" (onGeoClick)="geoClick($event)" *ngIf="search" [clienteDatos]="listSearchPost"></app-post>

    </div>
</ion-content>
<!-- 
<ion-content [fullscreen]="true">
    <app-post (onCall)="makeCall($event)" (onDetail)="viewDetail($event)" (onGeoClick)="geoClick($event)" *ngIf="!search" [clienteDatos]="listCustomerPost"></app-post>
    <app-post (onCall)="makeCall($event)" (onDetail)="viewDetail($event)" (onGeoClick)="geoClick($event)" *ngIf="search" [clienteDatos]="listSearchPost"></app-post>
    <div #mapGuia id="mapGuia"></div>
</ion-content> -->
<div #mapGuia id="mapGuia"></div>
