@model DirectorioV1.Api.Business.Models.Clientes

@{
    ViewData["Title"] = "Administrador - Editar cliente";
}

<h1>Editar cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <select class="form-control" asp-for="Tipo_Documento" asp-items="Model.TipoDocumentoList"></select>
                @*<input asp-for="Nombre" class="form-control" />*@
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_Documento" class="control-label"></label>
                <input asp-for="Tipo_Documento" class="form-control" />
                <span asp-validation-for="Tipo_Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                @*<input asp-for="Categoria_Id" class="form-control" />*@
                <select class="form-control" asp-for="CategoriaId" asp-items="Model.CategoriasList"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Creacion" class="control-label"></label>
                <input asp-for="Fecha_Creacion" class="form-control" />
                <span asp-validation-for="Fecha_Creacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
