<!-- <ion-list>
    <ion-item *ngFor="let item of clienteDatos">
        <ion-thumbnail item-start>
            <img [src]="item.imagenes[0].imageFullPath">
        </ion-thumbnail>
        <h1>{{item.nombre}}</h1>
        <h2>{{item.categoria.descripcion}}</h2>
        <p>{{item.direcciones[0].direccion_Compuesta}}</p>
        <p>{{item.direcciones[0].telefono}}</p>
        <button ion-button clear item-end>View</button>
    </ion-item>
</ion-list> -->


<ion-card style="border-radius: 10px;" class="adv-map" *ngFor="let item of clienteDatos">
    <div style="position: relative">
        <img [src]="item.imagenes[0].imageFullPath">
        <ion-fab right top>
            <button ion-fab class="fab-map">
          <ion-icon name='pin'></ion-icon>
        </button>
        </ion-fab>
    </div>
    <ion-item (click)="viewDetail(item)">
        <ion-icon color="subtle" large item-start name='pricetag'></ion-icon>
        <h1>{{item.nombre}}</h1>
        <h2>{{item.categoria.descripcion}}</h2>
    </ion-item>

    <ion-item style="border-top: 1px solid lightgray;" actions>
        <span ion-text item-start color="secondary" class="item-bold">0.3 Km</span>
        <span ion-text item-start color="subtle">(2.6 min)</span>
        <button (click)="makeCall(item)" ion-button color="primary" clear item-end icon-start>
          <ion-icon name='call'></ion-icon>
          Llamar
        </button>
    </ion-item>


</ion-card>